
    html {
        font-size: 16px;
        scroll-behavior: smooth;
        transition: all 0.5s ease-in;
    }
    html.contrast {
        filter: invert(1);
    }
    main input[disabled] {
        color: #134989 !important;

    }
    @font-face {
        font-family: SourceSans;
        src: url("../fonts/SourceSans-Roman.otf") format("opentype");
    }
    @font-face {
        font-family: 'Montserrat-Light';
        src: url("../fonts/Montserrat-Light.ttf") format("opentype");
    }
    @font-face {
        font-family: 'Montserrat-Medium';
        src: url("../fonts/Montserrat-Medium.ttf") format("opentype");
    }
    body {
        background-color: #fff;
        font-family: 'Montserrat-Light';
    }
    h1, h2, h3 {
        font-family: SourceSans;
    } 
    /* - - - */
    main .bg-confec {
        color: #fff;
        background-color: #134989;
    }
    main header div.logos {
        height: 114px;
    }
    main header img.logo-min {
        margin-left: -12px;
    }
    main header nav.menu {
        background-color: #134989;
        font-size: 1rem;
        min-height: 60px;
    }
    main header nav ul li {
        border-left: 2px solid #134989;
        padding-left: 2rem;
    }
    main header nav ul li:nth-of-type(5) {
        border-right: 2px solid #134989;
        padding-right: 2rem;
    }
    main header nav a:is(:link, :focus, :visited) {
        color: #fff;
        text-decoration: none;
    }
    main section.hero p {
        font-family: 'Montserrat-Light';
        color: #131313;
    }
    main section.hero .button {
        color: #134989;
    }
    main section.hero h2 {
        background: url(../images/corner-left-red.svg) no-repeat top left, url(../images/corner-right-red.svg) no-repeat bottom right;
        color: #134989;
        font-size: 3.2rem;
        font-weight: bold;
        padding: 0.2rem 0 0.4rem 0.6rem;
        width: 24.2rem;
    }
    main section.hero p.description {
        background: url(../images/corner-left-yellow.svg) no-repeat top left, url(../images/corner-right-yellow.svg) no-repeat bottom right;
        font-size: 1.2rem;
        padding: 0.2rem 0 0.4rem 0.6rem;
        width: 24.2rem;
    }
    main section.hero p.info {
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0.4rem 0 0.4rem 0.8rem;
        width: 24.2rem;
    }
    main section.hero div.button {
        padding: 0.4rem 0 0.4rem 0.8rem;
        width: 23.2rem;
    }

    .navbar-toggler-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    @media (max-width: 990px) {
        main header nav ul.gap-5 {
            gap: 0 !important;
        }
        main header nav ul li {
            border-left: none;
            padding-left: 0;
            border-top: 1px solid #134989;
            width: 100%;
        }
        main header nav ul li:nth-of-type(1) {
            margin-top: 4rem;
        }
        main header nav ul li:nth-of-type(5) {
            border-right: none;
            padding-right: 0;
            border-bottom: 1px solid #134989;
            margin-bottom: 1rem;
        }
        main header nav ul li a:is(:link, :focus, :visited) {
            display: block;
            padding: 1rem;
        }
    }
    /* section.carousel */
    main section.carousel {
        color: #134989;
    }
    main section.carousel h2 {
        background: url(../images/questions.png) no-repeat center bottom;
        display: flex;
        flex-direction: column;
        font-size: 3.8rem;   
        font-weight: bold;
        padding-bottom: 1rem;
        width: 440px;
    }
    main section.carousel .carousel-indicators {
        bottom: 2.4rem;
    }
    main section.carousel .carousel-indicators button {
        background-color: #134989;
        border-radius: 100%;
        height: 1rem;
        width: 1rem;
    }
    main section.carousel .btn-animation {
        display: flex;
        cursor: pointer;
        z-index: 9999;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        gap: 0.2rem;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 990px) {
        main section.carousel .btn-animation {
            display: none;
        }
    }
    main section.carousel svg {
        width: 1.4rem;
    }
    main section.carousel h2 strong {
        font-weight: bold;
        font-size: 3.8rem;
    }
    main section.carousel p {
        font-size: 1.2rem;
        color: #131313;
        width: 410px;
    
    }
    button.carousel-control-prev:hover img,
    button.carousel-control-next:hover img {
        transition: transform 0.2s ease-in;
        transform: scale(1.1);
    }
    button.carousel-control-prev,
    button.carousel-control-prev:hover {
        background-color: transparent;
        opacity: 1;
    }
    button.carousel-control-next,
    button.carousel-control-next:hover {
        background-color: transparent;
        opacity: 1;
    }
    main section.carousel h2.title-carousel2 {
        font-size: 2.2rem; 
    }
    /* section.businessman */
    main .title-h3 {
        background-color: #134989;
        font-size: 1.6rem;
        color: #fff;
    }
    main .title-h3 strong {
        background: url(../images/corner-left-blue.svg) no-repeat top left, url(../images/corner-right-blue.svg) no-repeat bottom right;
        padding: 0 0.6rem 0 0.6rem;
    }

    main .cont-left {
        width: 440px;
    }
    main .cont-right {
        width: 480px;
    }

    main h5,
    main h5 a:is(:link, :visited, :focus) {
        color: #134989;
        font-weight: bold;
    }

    main section.businessman .button,
    main section.institutions .button,
    main section.students .button {
        color: #134989;
    }

    main section.businessman ul li,
    main section.institutions ul li,
    main section.students ul li {
        background: url(../images/bullet-red.svg) no-repeat 0 10px;
        font-size: 1.1rem;
        color: #373737;
        margin-bottom: 1rem;
        padding-left: 1.4rem;
    }
    /* section.form */
    main section.form h2 {
        font-size: 2.8rem;
        font-weight: bold;
        color: #134989;
    }
    main section.form .button {
        color: #134989;
    }
    main section.form .form-control {
        background-color: #e8e8e8;
        color: #134989;
        padding: 0.6rem;
        font-size: 1.2rem;
        text-indent: 1rem;
        border: none;
    } 
    main section.form .form-control::placeholder {
        color: #aeaeae;
    }
    main section.form button {
        font-weight: bold;
    }
    /* footer.footer */
    main footer h3.title-social {
        background-color: #134989;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 2rem;
        color: #fff;
    }
    main footer nav ul li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    main footer nav ul li:nth-of-type(2) {
        border-left: 1px solid #134989;
        border-right: 1px solid #134989;
    }
    main footer nav a:is(:link, :focus, :visited) {
        color: #134989;
        font-size: 0.8rem;
        text-decoration: none;
    }
    main footer .confecamaras {
        background-color: #f8f7ff;
    }
    main footer .colors {
        background: linear-gradient(to right, #ffb528 40%, #134989 40% 70%, #e01313 70%);
        height: 10px;
    }
    main .modal ul li {
        margin-bottom: 0.6rem;
        /* border-bottom: 1px solid #134989; */
        padding: 0.2rem;
    }
    main .modal ul li a:is(:link, a:visited, a:focus) {
        color: #134989;
        font-size: 0.9rem;
    }

    /* Navbar Accessibility */
    main aside.navbar-accessibility {
        background-color: #134989;
        border-radius: 10px 0 0 10px;
        color: #fff;
        height: 144px;
        position: fixed;
        padding: 10px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: 9999;
        width: 48px;
    }
    main aside.navbar-accessibility .options {
        position: relative;
    }
    main aside.navbar-accessibility .options a:is(:link, :visited, :focus){
        color: #134989;
        background-color: #fff;
        border: 1px solid #134989;
        border-radius: 10px 0 0 10px;
        gap: 10px;
        padding: 4px;
        display: flex;
        position: absolute;
        align-items: center;
        right: -124px;
        text-decoration: none;
        font-size: 0.8rem;
        transition: right 0.2s ease-in;
        width: 150px;
    }
    main aside.navbar-accessibility .options a:nth-child(1) {
        top: 6px;
    }
    main aside.navbar-accessibility .options a:nth-child(2) {
        top: 45px;
    }
    main aside.navbar-accessibility .options a:nth-child(3) {
        top: 84px;
    }
    main aside.navbar-accessibility .options a:is(:hover, :focus) {
        right: -20px;
    }
    /* Go to Top */
    main aside.goto-top {
        background-color: #134989;
        border-radius: 10px 0 0 10px;
        color: #fff;
        height: 48px;
        position: fixed;
        padding: 10px;
        bottom: 20px;
        right: 0;
        z-index: 9999;
        width: 48px;
    }
    main aside.goto-top .options {
        position: relative;
    }
    main aside.goto-top .options a:is(:link, :visited, :focus){
        color: #134989;
        background-color: #fff;
        border: 1px solid #134989;
        border-radius: 10px 0 0 10px;
        gap: 10px;
        padding: 4px;
        display: flex;
        position: absolute;
        top: -3px;
        align-items: center;
        right: -124px;
        text-decoration: none;
        font-size: 0.8rem;
        transition: right 0.2s ease-in;
        width: 150px;
    }
    main aside.goto-top .options a:is(:hover, :focus) {
        right: -20px;
    }